.DS_Store
### backend
backend/*.py[cod]
backend/*.pyc
backend/db.sqlite3
backend/migrations/0*.py
*.pyc
### frontend
# dependencies
frontend/node_modules
# testing
frontend/coverage
# production
frontend/build
# misc
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
