{% extends 'base.html' %}

{% block content %}

<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-8">
      <div class="bs-component">
        <p class="instruction"><strong>Specify what you're looking for...</strong></p>

        <form class="customer-wants">
          <fieldset>
            <div class="form-group">
              <input type="checkbox" name="vehicle1" value="deals"><label>Deals</label>
              <input type="checkbox" name="vehicle2" value="flights"><label>Flights</label>
              <input type="checkbox" name="vehicle3" value="hotels"><label>Hotels</label>
            </div>

            <div class="form-group">
              <label>From</label>
              <select class="form-control" id="fromCity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              <label>To</label>
              <select class="form-control" id="toCity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

          </fieldset>



        </form>

      </div> <!-- .bs-component -->
    </div> <!-- .col-lg-12 -->
  </div> <!-- .row -->

  <div class="row">
    <div class="col-lg-8">
      <div class="bs-component browse">
        <p class="instruction"><strong>... Or just browse:</strong></p>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-flights">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-hotels">Hotels</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="tab-flights">
            <table class="table table-hover table-striped">
              <thead><tr><th>Depart</th><th>Arrive</th><th>Cost</th></tr></thead>
              <tbody>
                {% for flight in flights %}
                <tr>
                  <td>{{ flight.depart_city }} {{ flight.depart_state }}, {{ flight.depart_datetime | date:'n/j/y' }} {{ flight.depart_datetime | date:'g:i A' }}</td>
                  <td>{{ flight.arrive_city }} {{ flight.arrive_state }}, {{ flight.arrive_datetime | date:'n/j/y' }} {{ flight.arrive_datetime | date:'g:i A' }}</td>
                  <td>{{ flight.price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="tab-hotels">
            <table class="table table-hover table-striped">
              <thead><tr><th>Name</th><th>Address</th><th>Cost</th></tr></thead>
              <tbody>
                {% for hotel in hotels %}
                <tr>
                  <td>{{ hotel.name }}</td>
                  <td>{{ hotel.street }}</td>
                  <td>{{ hotel.price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> <!-- .tab-content -->
      </div> <!-- .bs-component -->
    </div> <!-- .col-lg-12 -->
  </div> <!-- .row -->

</div> <!-- .bs-docs-section -->

{% endblock %}
